* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ffd75d;
}
h1 {
    margin-bottom: 10px;
}
input {
    width: 55%;
    outline: none;
    padding: 10px 10px;
    border: 3px solid black;
}

textarea {
    border: 3px solid black;
    outline: none;
    padding: 10px 10px;
}
button {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0px;
    outline: none;
    transition: 0.2s;
}
input:hover, textarea:hover {
    border: 3px solid rgb(29, 190, 249);
}
button:hover {
    background-color: rgb(29, 190, 249);
    color: black;
}
.fila button:first-child {
    margin-right: 30px;
}
.wrapper {
    max-width: 70%;
    margin: auto;
}
.fila {
    margin-top: 50px;
    margin-bottom: 20px;
}
